@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 243 244 246; /* Light mode bg */
  --foreground: 30 41 59;   /* Dark text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 15 23 42; /* Dark mode bg */
    --foreground: 255 255 255; /* White text */
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* Prevent scrolling, app-like feel */
}